<section class="mt-5 pt-5 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Aqui vai a sua headline.<br>
            Foque na trasformação que seu produto gera
        </h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis nobis provident, quod in hic debitis non porro ea? Quia corrupti esse inventore accusantium nihil excepturi eaque temporibus deleniti eveniet quos.</p>
      </div>
      <div class="col-sm-4">
        <h2>Chamada para ação</h2>
        <form action="">
          <label for=""></label>
        </form>
      </div>
    </div>
  </div>
</section>
