<section class="bg-warning d-flex justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <img src="" alt="imagem">
      </div>
      <div class="col-sm-4">
        <h2>Quem somos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur ullam, aliquam accusamus itaque repellat? Cum, saepe ab. Blanditiis architecto, mollitia expedita at veritatis omnis deserunt illo earum praesentium doloremque.</p>
      </div>
    </div>
  </div>
</section>
