<section class="bg-success">
  <div class="container">
    <div class="row">
      <div class="col-sm-8  col-lg-10 bg-danger">
        <img src="" alt="video">
      </div>
      <div class="col-sm-4  col-lg-2 ">
        <h2>Titulo Sobre serviço</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur ullam, aliquam accusamus itaque repellat? Cum, saepe ab. Blanditiis architecto, mollitia expedita at veritatis omnis deserunt illo earum praesentium doloremque.</p>
      </div>
    </div>
  </div>
</section>
